@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  -ms-user-select: none;
  -webkit-user-select: none;
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  user-select: none;
}

body,
html {
  background-color: black;
  border: 0;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

h1 {
  color: yellow;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

/* navbar */

.navbar {
  background-color: rgba(0, 0, 0, 0);
  height: 65px;
  padding: 0;
  transition: all 0.6s;
  z-index: 3;
}

.navbar-brand {
  color: rgb(255, 193, 7);
  font-size: 24px;
  margin-left: 12px;
  margin-right: auto;
  transition: all 1s;
}

.navbar-brand-img {
  height: 25px;
  width: 90px;
}

.navbar-brand:hover {
  color: yellow;
}

.navbar-toggler {
  transition: all 1s;
}

.dropdown-item {
  color: white;
  margin-left: auto;
  margin-right: 0px;
  width: 30px;
}

.dropdown-item:hover {
  color: white;
}

.dropdown-item-select {
  border: 0px;
  margin: 0px;
  padding: 2px 5px 0px 12.5px;
  width: 23px;
}

.dropdown-item-select:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu.show {
  --bs-dropdown-min-width: 0rem;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  transform: translateY(-6px) translateX(-5px);
  width: 40px;
}

.dropdown-toggle {
  font-size: 12px;
  font-weight: bold;
}

/* Navbar - offcanvas */

.offcanvas {
  background-color: #000;
  --bs-offcanvas-width: 320px;
}

.offcanvas-header {
  background-color: #191919;
  padding: 30px 10px 30px 10px;
}

.offcanvas-body {
  background-color: #191919;
}
.offcanvas-title {
  color: #595959;
}
.offcanvas-a {
  color: #e8e9e9;
  font-size: 1.1rem;
  padding: 12px;
}

.offcanvas-header .btn-close {
  display: none;
}
.offcanvas-a:hover {
  background-color: #313031;
  color: white;
}

.navbar-scrolled {
  background-color: black;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.modal-open {
  padding-right: 0 !important;
}

.active {
  box-shadow: inset 6px 0 0 #e60814;
  color: white !important;
  font-weight: bold;
  padding-left: 7px;
  transition: all 1s;
}

.navbar-my-list {
  font-size: 18px;
}

.navbar-border {
  border-top: solid 2.5px #000000;
}

.nav-link-list {
  font-size: 14px;
  padding: 14px;
}

.list-item {
  border-left: solid 1.5px #ffc107;
}

.list-like {
  border-left: solid 1.5px #47d269;
}

.nav-link-list:hover {
  background-color: #595959;
}

.navbar-list-icon {
  height: 20px;
  width: 30px;
}

.navbar-like-icon {
  height: 15px;
  padding: 0px 10px 2px 5px;
}

/* Footer */

.footer {
  height: 40vh;
}

.navbar-toggler-icon {
  border: none;
  filter: brightness(0%) invert(100%) brightness(100%) saturate(4);
  height: 20px;
}

.subrand {
  font-size: 12px;
  font-weight: 500;
  height: 100%;
  margin-top: 0;
  padding-left: 5px;
}

.nav-type {
  margin-bottom: 8px;
  margin-top: 0;
}

.order-2 {
  margin-left: 0;
  margin-right: auto;
}

.navbar-toggler {
  border: none;
  height: 20px;
  outline: none;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.nav__user-img {
  height: 60px;
  padding-right: 20px;
}

.offcanvastitle__container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, auto);
  width: 100%;
}

.offcanvas__username {
  margin: auto auto auto 0px;
}

.offcanvas__change {
  height: 25px;
}
.offcanvas__change-link {
  margin: auto;
  grid-column: 3;
  padding: 0;
}

.offcanvas-title {
  width: 100%;
}

.main-block {
  height: 78vh;
}

/* Scrollbar */

::-webkit-scrollbar {
  background-color: rgba(41, 41, 40, 255);
}

::-webkit-scrollbar-track {
  background: rgba(41, 41, 40, 255);
}

::-webkit-scrollbar-thumb {
  background: rgba(60, 60, 61, 255);
}

::-webkit-scrollbar-button:single-button {
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background: rgba(41, 41, 40, 255);
  display: block;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: block;
  z-index: 99;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgba(108,109,108,255)' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M264.8 604.7l61.8 61.8L512 481.1l185.4 185.4 61.8-61.8L512 357.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  display: block;
  z-index: 99;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgba(108,109,108,255)' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M264.8 604.7l61.8 61.8L512 481.1l185.4 185.4 61.8-61.8L512 357.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background: #010100;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  z-index: 99;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgba(108,109,108,255)' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M264.8 604.7l61.8 61.8L512 481.1l185.4 185.4 61.8-61.8L512 357.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgba(108,109,108,255)' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M264.8 604.7l61.8 61.8L512 481.1l185.4 185.4 61.8-61.8L512 357.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgba(108,109,108,255)' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M264.8 604.7l61.8 61.8L512 481.1l185.4 185.4 61.8-61.8L512 357.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg fill='rgba(108,109,108,255)' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg' transform='rotate(180)'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M264.8 604.7l61.8 61.8L512 481.1l185.4 185.4 61.8-61.8L512 357.5z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

@supports (scrollbar-color: black gray) {
  * {
    scrollbar-color: rgba(41, 41, 40, 255);
  }
}

/* Anima product  */
.anima__description__text {
  color: white;
}
.anima__raking {
  background-color: #47d269;
  border-radius: 5px;
  color: rgba(0, 0, 0, 1);
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0 0 0 auto;
  padding: 8px 18px;
  width: fit-content;
}
.anima__description__hr {
  color: white;
  height: 1px;
  width: 100%;
}
.anima__description__var {
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 0;
  padding-right: 0;
  width: fit-content;
}
.anima__description__link {
  margin: 0;
  padding: 0;
  width: fit-content;
}
.link__question__image {
  height: 15px;
  padding: 5px;
  width: fit-content;
}
.img {
  max-width: 60%;
}

.loading-text {
  font-size: 50px;
  font-weight: bold;
  width: fit-content;
  margin: 20% 20% 30% 30%;
}

.btn-back {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  border: none;
  color: white;
  padding: 2px 30px 2px 0px;
  transition: all 0.3s;
}

.btn-back:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
}

.btn-back-ico {
  height: 40px;
  padding: 2px 0px 2px 10px;
  width: 40px;
}

/* Anima Product - Score */
.anima__score {
  background-color: #47d269;
  border-radius: 50%;
  color: rgba(0, 0, 0, 1);
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0 0 0 auto;
  padding: 8px 10px;
  width: fit-content;
}

/* Anima Product - Credits */
.credits__image {
  height: 200px;
}
.credits__text {
  color: white;
  display: flex;
  margin: 0;
  padding: 0;
  width: fit-content;
}
.credits__subtitle {
  color: #595959;
}

/* Anima Product - Second Row */
.container__white {
  background-color: #e60814;
}
.container__white__cover {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(87, 3, 8, 1) 100%,
    rgba(230, 8, 20, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(87, 3, 8, 1) 100%,
    rgba(230, 8, 20, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(87, 3, 8, 1) 100%,
    rgba(230, 8, 20, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#e60814",GradientType=1);
}

/* Loader */

.loader {
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100vh;
}
.loader__img {
  display: block;
  width: 350px;
  height: 110px;
  grid-column: 2;
  grid-row: 2;
  margin-left: auto;
  margin-right: auto;
}

/* Choose */

.main__choose {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100%;
}

.choose__ico {
  height: 25px;
  width: 90px;
  grid-row: 1;
  margin: 20px 0px 0px 20px;
  pointer-events: none;
}

.container__choose {
  display: grid;
  grid-column: 1/4;
  grid-row: 2;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  margin-left: auto;
  margin-right: auto;
}

.choose__question {
  margin: 0px auto 0px auto;
  font-size: 25px;
  grid-column: 1;
  grid-row: 1;
}

.container__users {
  display: grid;

  grid-template-columns: 1fr;
  column-gap: 30px;
  grid-template-rows: repeat(2, auto);
  max-width: 840px;
  overflow: hidden;
}

.container__user {
  background-color: #000;
  border: none;
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

#user-profile:hover .add__profile {
  color: #fff;
  transition: all 0.5s;
}

#user-profile:hover .user__button {
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.5s;
}

.disable__button {
  pointer-events: none;
  opacity: 0.5;
}

.user__img-container {
  grid-row: 1;
  grid-column: 1;
  height: 90px;
  display: block;
}
.user__img {
  grid-row: 1;
  grid-column: 1;
  height: 90px;
  border: solid 4px #000;
  display: block;
}

.user__img:hover {
  border: solid 4px #fff;
}

.user__button {
  height: 100px;
  width: 105px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: all 0.5s;
}

.button__img {
  height: 50px;
}

.add__profile {
  color: #71706e;
  grid-column: 1;
  grid-row: 2;
  transition: all 0.5s;
  width: fit-content;
}

.user__name {
  grid-row: 2;
  grid-column: 1;
  width: fit-content;
}

/* New */

.main__new {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100%;
}

.main__manage {
  font-size: 22px;
  font-weight: 400;
  grid-column: 2;
  grid-row: 1;
  margin: 20px 20px 0px 0px;
  width: 120px;
}

.manage__ico {
  height: 25px;
  margin: 0px 10px 0px 1px;
}

.edit__pencil__ico {
  display: none;
  grid-column: 1;
  grid-row: 1;
  height: 30px;
  margin: 35% auto auto auto;
  z-index: 2;
}

.edit__pencil__background {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.show__edit {
  display: grid;
}

.new__container {
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-template-columns: min-content repeat(2, auto);
  column-gap: 30px;
  grid-template-rows: repeat(2, auto);
}

.new__image {
  background-color: #000;
  border: none;
  display: grid;
  grid-column: 1;
  grid-row: 1/4;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100px;
  width: 105px;
}

.new__name {
  grid-row: 1;
  grid-column: 2;
  height: 30px;
  background-color: #000;
  border: solid 3px #666666;
  color: #fff;
  text-indent: 10px !important;
}

.new__name-alert {
  color: #cd6814;
  font-size: 17px;
  grid-row: 2;
  grid-column: 2;
  transform: translateY(-45px);
  display: none;
  transition: all 1s;
}

.show__name-alert {
  display: block;
  transition: all 1s;
}

.image__edit {
  height: 30px;
  margin: auto auto 5px 5px;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

.image__button {
  grid-column: 1;
  grid-row: 1;
  height: 100px;
  width: 105px;
}

.new__name::placeholder {
  font-weight: 500;
}

.new__name:hover {
  border: solid 3px #999997;
}

.new__name:focus {
  border: solid 3px #e60814;
  outline: none;
}

.add__prof {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin: 20px 0px 0px 80px;
  grid-column: 1;
  grid-row: 1;
}

.container__buttons-new {
  grid-column: 1/4;
  margin-left: auto;
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, auto);
}

.save__profile {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  margin: 15px 30px 0px auto;
  cursor: pointer;
  grid-row: 1;
  grid-column: 1;
}

.delete__profile {
  display: inline-block;
  font-size: 22px;
  font-weight: 400;
  margin: 15px 30px 0px auto;
  cursor: pointer;
  grid-row: 1;
  grid-column: 2;
}

.check-ico {
  display: block;
  height: 17px;
  margin: 20px 85px 0px auto;
  cursor: pointer;
  grid-row: 1;
  grid-column: 1;
}

.delete-ico {
  display: block;
  height: 20px;
  margin: 18px 95px 0px auto;
  cursor: pointer;
  grid-row: 1;
  grid-column: 2;
}

.back-ico {
  grid-row: 1;
  grid-column: 1;
  margin: 25px 0px 0px 15px;
  height: 28px;
  cursor: pointer;
}

.profile__pics {
  border: 0.5px solid #71706e;
  display: grid;
  grid-column: 2;
  grid-row: 2/4;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 0px;
  margin-top: 100px;
  opacity: 0;
  transition: all 1s;
  width: 250px;
}

.panel__images {
  height: 50px;
  opacity: 0;
  margin: auto;
  border: 3px solid black;
  display: none;
}

.show__images {
  display: block;
  transition: all 1s;
  animation: 1s show-images forwards 0.4s;
}

.show__images:hover {
  transition: all 1s;
  border: 3px solid white;
}

.hide__images {
  animation: 0.2s hide-images forwards;
}

.show__panel {
  transition: all 0.5s;
  animation: 0.2s show-panel forwards;
}

.hide__panel {
  animation: 0.2s hide-panel forwards;
}

.delete__modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 1/4;
  grid-row: 1/4;
  height: 100vh;
  width: 100%;
  z-index: 2;
}

.delete__modal {
  grid-row: 1/4;
  grid-column: 1/4;
  margin: auto;
  height: 220px;
  width: 500px;
  background-color: #323233;
  z-index: 3;

  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, auto);
}

.delete__title {
  grid-row: 1;
  grid-column: 1;
  margin: 20px 0px 0px 20px;
}

.delete__body {
  grid-row: 2;
  grid-column: 1/4;
  margin: 0px 0px 0px 20px;
}

.modal__button-container {
  grid-row: 3;
  grid-column: 1/4;
  margin: 0px 20px 0px auto;
}

.modal__button-delete {
  background-color: #5c5d5c;
  border: none;
  color: #fff;
  font-size: 15px;
  height: 32px;
  width: 120px;
}

.modal__button-cancel {
  background-color: #5c5d5c;
  border: none;
  color: #fff;
  font-size: 15px;
  height: 32px;
  margin-left: 10px;
  width: 120px;
}

@keyframes show-panel {
  from {
    height: 0px;
    opacity: 0;
  }
  to {
    height: 330px;
    opacity: 1;
  }
}

@keyframes hide-panel {
  from {
    display: grid;
    height: 330px;
    opacity: 1;
  }
  to {
    height: 0px;
    opacity: 0;
    display: none;
  }
}

@keyframes show-images {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-images {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0);
  }
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .navbar {
    backdrop-filter: blur(1px);
    height: 60px;
    z-index: 3;
  }

  .loading-text {
    font-size: 20px;
  }

  .navbar-brand {
    font-size: 25px;
  }
  .container-anima {
    margin: 0px;
    padding: 0px;
  }
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-track,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-button {
    display: none;
  }

  .main__new {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .new__container {
    grid-column: 1;
    margin: auto;
  }
  .container__buttons-new {
    grid-column: 1;
    margin-top: 11px;
  }
  .profile__pics {
    grid-column: 1;
    margin-top: 180px;
  }
  .new__name-alert {
    transform: translateY(20px);
  }
  .add__prof {
    font-size: 24px;
    margin-top: 23px;
    margin-left: 50px;
  }

  .delete__modal {
    width: 350px;
  }
  .product-container {
    padding: 0;
    margin: 0;
  }
  .container__white__cover {
    margin: 0;
    padding: 0;
  }
  .row-product {
    display: none;
  }
}
